body {
  font-family: monospace;
  font-size: 24px;
  margin: 0;
  background: #002b36;
  /* white-space: pre; */
}

html, body {
  width: 100%;
  height: 100%;
}


.terminal {
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  width: 100%;
}

.reverse-video {
  border-left: 1px solid white;
  margin-left: -1px;
}

.chrome-tabs-shell {
  position: absolute;
  top: 0;
  width: 100%;
}
