body {
  font-family: monospace;
  font-size: 24px;
  margin: 0;
  background: #002b36;
  /* white-space: pre; */
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

.terminal {
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  width: 100%;
}


.cursor-node[focus="false"] {
    box-sizing: border-box;
    background-color: transparent !important;
    border-left: 1px solid rgba(131, 148, 150, 0.7) !important;
}

.chrome-tabs-shell {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

textarea {
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  width: 100%;
}
