body {
  font-family: monospace;
  font-size: 24px;
  margin: 0;
  background: #002b36;
  /* white-space: pre; */
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

.terminal {
  position: absolute;
  height: 100%;
  width: 100%;
}

.preference {
  display: block;
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  overflow: auto;
  width: 100%;
}

.preference pre {
  font-family: monospace;
  font-size: 14;


}


.cursor-node[focus="false"] {
    box-sizing: border-box;
    background-color: transparent !important;
    border-left: 1px solid rgba(131, 148, 150, 0.7) !important;
}


textarea {
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  width: 100%;
}

.command-palette {
  z-index:1111;
  position: absolute;
  top:50px;
  right:20px;
}

input.stdin {
    font-size: 3px;
    background-color: transparent;
    position: absolute;
    border: none;
    box-shadow: none;
    outline: none;
}

main.window-content {
    height: -webkit-calc(100% - 70px);
}

