body {
  font-family: monospace;
  font-size: 24px;
  margin: 0;
  background: #002b36;
  /* white-space: pre; */
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
}

.terminal {
  position: absolute;
  top: 10px;
  height: -webkit-calc(100% - 40px);
  width: 100%;
}

.preference {
  display: block;
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  overflow: auto;
  width: 100%;
}

.preference pre {
  font-family: monospace;
  font-size: 14;


}


.cursor-node[focus="false"] {
    box-sizing: border-box;
    background-color: transparent !important;
    border-left: 1px solid rgba(131, 148, 150, 0.7) !important;
}

.chrome-tabs-shell {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

textarea {
  position: absolute;
  top: 40px;
  height: -webkit-calc(100% - 40px);
  width: 100%;
}

.command-palette {
  z-index:1111;
  position: absolute;
  top:50px;
  right:20px;
}

.chrome-tabs-shell {
    padding: 0;
}

.chrome-shell-bottom-bar {
    display: none;
}

.chrome-tab-curves {
    display: none !important;
}
.chrome-tabs {
  top: -1px !important;
}

.chrome-tab {
    margin: 1px !important;
    padding: 0;
    left: 0;
    right: 0;
    width: 190px !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 20px !important;
}

.chrome-tab-close {
    right: 7px !important;
    top: 3px !important;
}

.chrome-tabs-shell {
    background-image: linear-gradient(#002B36, #002B36) !important;
}

input.stdin {
    font-size: 3px;
    background-color: transparent;
    position: absolute;
    border: none;
    box-shadow: none;
    outline: none;
}
